<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="">Home</a></li>
        <li><a ng-href="#/workshop">Workshop</a></li>
        <li><a ng-href="#/suchmaschine">Suchmaschine</a></li>
    </ul>
    <h3 class="text-muted">januschka</h3>
</div>

<div class="jumbotron">
    <h1>¡Olé!</h1>

    <p class="lead">

    <h2>Dies ist eine Seite um ein paar Versuche vorzustellen. <br>
        Für die Projekte wurden Bibliotheken und Frameworks wie
        Node.js, Angular.js und D3.js eingesetzt.<br>
        Das Ganze soll meine Arbeit mit Javascript wiederspiegeln und wird mit Yeoman verwaltet.</h2>
    </p>

    <p><a class="btn btn-lg btn-success" ng-href="#">¡Qué bueno!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <h4>Workshop</h4>

    <p>
        Der Workshop ist die Web-basierte Variante einer Zeitschrift-Umfrage mit einem Radarchart zum schraffieren.
    </p>

    <h4>ElasticSearch</h4>

    <p>
        Ein mininimalistisches Suchformular um in einer ElasticSearch (indexierte Suchmaschine) Instanz zu suchen.
    </p>

</div>

<div class="footer">
    <p><span class="glyphicon glyphicon-tree-conifer"></span> januschka 2014</p>
</div>
