<div class="header">
    <ul class="nav nav-pills pull-right">
        <li ng-href="#/workshop"><a ng-href="#">Home</a></li>
        <li class="active"><a ng-href="">Workshop</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">portfolio</h3>
</div>

<div>
    <h4>
        <small style="color: limegreen">HINWEISE</small>
    </h4>
    Manche werkzeuge werden zwecks Klarheit innerhalb einer Abfrage mit zwei Verhaltensbeschreibungen durch ein "und"
    verknüpft. Berücksichtigen Sie in diesen Fällen bei der Bewertung Ihrer Aussage
    den Gesamtaspekt. Bewerten Se z.B. mit einer 3, wenn der eine Aspekt gar nicht und der andere immer gegeben wäre.
</div>
<br>
<div>
    <h4>
        <small style="color: limegreen">BITTE KREUZEN SIE ZUTREFENDES AN:</small>
    </h4>
    Die Aussage...
    <ol>
        <li>... trifft <b>sehr selten</b> zu</li>
        <li>... trifft <b>selten</b> zu</li>
        <li>... trifft <b>manchmal</b> zu</li>
        <li>... trifft <b>oft</b> zu</li>
        <li>... trifft <b>sehr häufig</b> zu</li>
    </ol>
</div>
<br>
<div>
    <form class="form">
        <div class="row">
            <div class="form-group">
                <div class="form-inline">
                    <div class="col-md-5">
                        <div class="form-group">
                            <span style="color: sandybrown">SPIRITUALITÄT</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group ranks">
                            <b>1</b>
                        </div>
                        <div class="form-group ranks">
                            <b>2</b>
                        </div>
                        <div class="form-group ranks">
                            <b>3</b>
                        </div>
                        <div class="form-group ranks">
                            <b>4</b>
                        </div>
                        <div class="form-group ranks">
                            <b>5</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group col-md-1">
                        <label>1</label>
                    </div>
                    <div class="form-group col-md-4">
                        Mein Leben gründet sich auf etwas, das größer ist als die Teile in meinem Leben, als
                        Familie,
                        Beruf
                        oder Hobby, und das meinem Leben Sinn gibt.
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" data-toggle="radios">
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_1" id="option1">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_1" id="option2">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_1" id="option3">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_1" id="option4">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_1" id="option5">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group col-md-1">
                        <label>2</label>
                    </div>
                    <div class="form-group col-md-4">
                        Ich lebe und bin mit meinem ganzen Selbst im Hier und Jetzt.
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" data-toggle="radios">
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_2" id="option1">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_2" id="option2">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_2" id="option3">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_2" id="option4">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_2" id="option5">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group col-md-1">
                        <label>3</label>
                    </div>
                    <div class="form-group col-md-4">
                        Ich kenne verschiedene Formen von Spiritualität und nehme mir regelmäßig Zeit, um Formen, die
                        für mich passen, auszuüben.
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" data-toggle="radios">
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_3" id="option1">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_3" id="option2">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_3" id="option3">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_3" id="option4">
                            </div>
                            <div class="form-group ranks">
                                <input type="radio" name="spirit_options_3" id="option5">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Auswerten</button>
    </form>
</div>